[mysqld]
user=mysql
datadir=/var/lib/mysql
#socket=/run/mysqld/mysqld.sock
symbolic-links=0
skip-networking=0
bind-address=0.0.0.0

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
